@import "../../styles";

.grid {
  display: grid;
  margin: 5px;
  grid-template-columns: 320px auto;

  &-cell {
    padding: 15px;
    overflow: hidden;
    position: relative;

    &:nth-child(1) {
      @include set-column(1, 2);
      @include set-row(1, 2);
    }

    &:nth-child(2) {
      @include set-column(1, 2);
      @include set-row(2, 4);
    }

    &:nth-child(3) {
      @include set-column(2, 3);
      @include set-row(1, 4);
    }
  }
}

.dashboard-card {
  width: 100%;
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}
