<h4 mat-dialog-title>Clients in {{data.time | time}}</h4>
<div mat-dialog-content class="table-wrapper" *ngIf="data.clients?.length">
  <table mat-table [dataSource]="data.clients" class="w-100">
    <ng-container matColumnDef="n">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let index = index"> {{index + 1}} </td>
    </ng-container>
    <ng-container matColumnDef="hostname">
      <th mat-header-cell *matHeaderCellDef> Hostname </th>
      <td mat-cell *matCellDef="let client"> {{client.hostname}} </td>
    </ng-container>
    <ng-container matColumnDef="mac">
      <th mat-header-cell *matHeaderCellDef> Mac </th>
      <td mat-cell *matCellDef="let client"> {{client.mac}} </td>
    </ng-container>
    <ng-container matColumnDef="ip">
      <th mat-header-cell *matHeaderCellDef> IP </th>
      <td mat-cell *matCellDef="let client"> {{client.ip}} </td>
    </ng-container>
    <ng-container matColumnDef="rssi">
      <th mat-header-cell *matHeaderCellDef> RSSI </th>
      <td mat-cell *matCellDef="let client"> {{client.rssi}}% </td>
    </ng-container>
    <ng-container matColumnDef="rx/tx">
      <th mat-header-cell *matHeaderCellDef> Rx/Tx (Kb) </th>
      <td mat-cell *matCellDef="let client"> {{calcData(client.rcv_bytes_diff)}}/{{calcData(client.snd_bytes_diff)}} </td>
    </ng-container>
    <ng-container matColumnDef="workload rx/tx">
      <th mat-header-cell *matHeaderCellDef> Workload Rx/Tx (Kbps) </th>
      <td mat-cell *matCellDef="let client">
        {{calcWorkload(calcData(client.rcv_bytes_diff), 2)}}/{{calcWorkload(calcData(client.snd_bytes_diff), 2)}}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<p mat-dialog-content class="my-3" *ngIf="!data.clients?.length">
  Nothing.
</p>
<div mat-dialog-actions class="d-flex justify-content-end py-3">
  <button mat-button color="primary" (click)="dialogRef.close()">Close</button>
</div>
